*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header nav {
    height: 60px;
}
header nav ul{

    display: grid;
    grid-template-areas:
     "a b";
     justify-content: end;
     column-gap: 40px;
     margin-right: 40px;
     padding-top: 20px;
}
header nav ul li a{
    list-style-type: none;
    color: cyan;
    text-decoration: none;
    font-family:Arial;
    font-size: 20px;
}

header div h1{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgcryptos/fondo3.jpg");
    background-size:cover;
    color:rgb(214, 18, 18);
    font-size: 200px;
    font-family:'sans-serif';
    animation-duration: 3s;
    animation-name: opacar;
    animation-iteration-count: 1;
}
@keyframes opacar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

section .rigs{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c d";
}
        section h2{
            grid-area: a;
            text-align: center;
            color: cyan;
            text-decoration: none;
            font-family:Arial;
            font-size: 20px;
        }
        .rigs-img {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .rigs-img:nth-child(1){
            grid-area: b ;
        }
        .rigs-img:nth-child(2){
            grid-area: c ;
        }
        .rigs-img:nth-child(3){
            grid-area: d ;
        }

section .acc{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c d"
    ;
}
        section h2 {
            grid-area: a;
            text-align: center;
            color: cyan;
            text-decoration: none;
            font-family:Arial;
            font-size: 20px;
        }
        .acc-img {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .acc-img:nth-child(1){
            grid-area: b ;
        }
        .acc-img:nth-child(2){
            grid-area: c ;
        }
        .acc-img:nth-child(3){
            grid-area: d ;
        }
section .soft{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c d"
    ;
}
        .section h2 {
            grid-area: a;
            text-align: center;
            color: cyan;
            text-decoration: none;
            font-family:Arial;
            font-size: 20px;
        }
        .soft-img {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .soft-img:nth-child(1){
            grid-area: b ;
        }
        .soft-img:nth-child(2){
            grid-area: c ;
        }
        .soft-img:nth-child(3){
            grid-area: d ;
}
/*footer*/
footer {
    margin-top: 50px;
}
footer p {
    text-align: center;
    color: cyan;
    text-decoration: none;
    font-family:Arial;
    font-size: 20px;
}
footer .footer-img{
    margin: 0 auto ;
    display: flex; 
    justify-content: center; 
}
footer .footer-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;   
} 

/*styles para page2*/

.formulario {
    text-align: center;
    color: cyan;
    text-decoration: none;
    font-family:Arial;
    font-size: 20px;
}
                                                /*responsive - mobile */


@media screen and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    
    header nav ul {
        justify-content: center;
       
    }
    header div h1{
        font-size: 100px;
    }
    section .rigs{
        text-align: center;
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c d";
        justify-items: center;
    }
            section h2{
                grid-area: a;
                color: cyan;
                text-decoration: none;
                font-family:Arial;
                font-size: 20px;
            }
            .rigs-img {
                display: flex;
                flex-direction: column;
                height: 50%;
                width: 50%;
            }
            .rigs-img:nth-child(1){
                grid-area: b ;
            }
            .rigs-img:nth-child(2){
                grid-area: c ;
            }
            .rigs-img:nth-child(3){
                grid-area: d ;
            }
    
    section .acc{
        text-align: center;
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c d"
        ;
        justify-items: center;

    }
            section h2 {
                grid-area: a;
                text-align: center;
                color: cyan;
                text-decoration: none;
                font-family:Arial;
                font-size: 20px;
            
            }
            .acc-img {
                display: flex;
                flex-direction: column;
                
                height: 50%;
                width: 50%;
                
            }
            .acc-img:nth-child(1){
                grid-area: b ;
            }
            .acc-img:nth-child(2){
                grid-area: c ;
            }
            .acc-img:nth-child(3){
                grid-area: d ;
            }
    section .soft{
        text-align: center;
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c d"
        ;
        justify-items: center;
    }
            section h2 {
                grid-area: a;
                text-align: center;
                color: cyan;
                text-decoration: none;
                font-family:Arial;
                font-size: 20px;
            }
            .soft-img {
                display: flex;
                flex-direction: column;
                height: 50%;
                width: 50%;
            }
            .soft-img:nth-child(1){
                grid-area: b ;
            }
            .soft-img:nth-child(2){
                grid-area: c ;
            }
            .soft-img:nth-child(3){
                grid-area: d ;
    }
}